
@import "tailwindcss";
@tailwind utilities;
@import './additional-styles/flatpickr.css';
@import './additional-styles/utility-patterns.css' layer(components);
@import 'vue-multiselect/dist/vue-multiselect.css';
@import './multiselect.css';
@custom-variant dark (&:where(.dark, .dark *));

@import './style.css';

[x-cloak] {
    display: none;
}

